@if(user){
<top-bar-component
  [user]="user"
  (onMenuClicked)="sidenav.toggle()"
></top-bar-component>

<mat-sidenav-container class="container-side">
  <mat-sidenav
    class="side-bar"
    #sidenav
    mode="side"
    [disableClose]="true"
    [opened]="true"
  >
    <mat-list>
      <mat-list-item routerLink="items">
        <span>Items</span>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content class="content-background">
    <div class="content">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
}@else {
<top-bar-component
  [user]="user"
  (onMenuClicked)="sidenav.toggle()"
></top-bar-component>

<mat-sidenav-container class="container-side">
  <mat-sidenav
    class="side-bar"
    #sidenav
    mode="side"
    [opened]="false"
    [hidden]="true"
  >
  </mat-sidenav>

  <mat-sidenav-content class="content-background">
    <div class="content">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
}
