.left {
  @apply basis-1/2;
  @apply flex flex-row items-center gap-4;
}

.right {
  @apply basis-1/2;
  @apply flex flex-row-reverse items-center;
}

.container-side {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.side-bar {
  width: 200px;
}

.content {
    @apply p-4;
}