<mat-toolbar>
  <div class="left">
    <button mat-icon-button>
      <!--  (click)="sidenav.toggle()" -->
      <mat-icon>menu</mat-icon>
    </button>
    <span>Item Mancer Manager</span>
  </div>
  <div class="right">
    <button  mat-icon-button [matMenuTriggerFor]="profile">
      <mat-icon>person</mat-icon>
    </button>
    @if (user){
    <span class="content-end">{{ user.username }}</span>

    }

    <mat-menu #profile="matMenu">
      @if (user){
      <button mat-menu-item (click)="logout()">Logout</button>
      } @else {
      <button mat-menu-item (click)="openLoginModal()">Login</button>
      }
    </mat-menu>
  </div>
</mat-toolbar>
